{% extends "blog-post.html" %}
{% block styles %}
{{ super() }}
<style>
tr,td {padding: 8px; }
</style>
{% endblock %}
{% block content %}
<h2>List of Articles</h2>
<table>
{% for id, documentId, title, slug in data %}
<tr style="padding:10px">
    <td><a href="https://docs.google.com/document/d/{{ documentId }}/">{{ edit }}</a></td>
    <td><a href="/blog/{{ documentId }}">{{ title }}</a></td>
    <td><a href="https://docs.google.com/document/d/{{ documentId }}/edit">edit</a></td>
    <td><a href="/blog/{{ documentId }}/pull">pull</a></td>
    <td><a href="/blog/{{ documentId }}/load">load</a></td>
    <td><a href="/blog/{{ documentId }}/delete">delete</a></td>
    <td>{{ slug or "NO SLUG" }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
